*{
    margin: 0;
    font-family: 'Open Sans', sans-serif;
}
/* head part */
.main-head{
    background: url(images/banner/banner3.png);
    height: 900px;
    background-repeat: no-repeat;
    width: 1900px;
    background-size: cover;
    display: flex;
    justify-content: end;
    align-items: center;
    
}

.head{
    padding: 120px;
}

.head-line{
   font-size: 65px;
   font-weight: 700;
   color: white;
}

.head-bio{
    color: white;
    text-align: left;
    font-size: 18px;
    font-weight: 500;
}

.contact-button{
    height: 65px;
    width: 160px;
    background-color: white;
    color: rgb(45, 123, 212);
    font-size: 18px;
    font-weight: 700;
    margin-top: 20px;
}

/* My failures of previous year part */

.pre-year{
    margin-top: 150px;
}

.pre-year-container{
    display: flex;
    align-items: center;
    justify-content: center;
}

.pre-year-head{
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 20px;
}

.pre-year-bio{
    font-size: 18px;
    font-weight: 500;
    color: rgb(79, 77, 76);
}

.pre-year-list{
    font-size: 18px;
    font-weight: 500;
    color: rgb(79, 77, 76);
}

/* My plans */
.my-plans{
    margin-top: 90px;
    margin-bottom: 90px;
}


.my-plans-heading{
    text-align: center;
    font-size: 45px;
    font-weight: 700;
}

.my-plans-container{
    display: flex;
    justify-content: space-between;
    padding: 150px;
}

.my-plans-head{
    font-size: 30px;
    font-weight: 700;
    text-align: center;
}
.my-plans-pera{
    font-size: 20px;
    font-weight: 500;
    text-align: center;
}

.my-plans-section{
    text-align: center;
}

.my-plans-pera{
    color: rgb(79, 77, 76);
}


/* mind set */

.positive-mindset{
    background-image: url(/images/watch.png);
    background-repeat: no-repeat;
    background-position: center;
    margin-bottom: 180px;
}

.positive-mindset-container{
    width: 1140px;
    height: 300px;
    background-image: linear-gradient(to right, #1375ddab, #74a3e45b );
    margin: 0 auto;
}

.positive-mindset-header{
    margin-left: 40px;
    /* text-align: center; */
    font-size: 60px;
    font-weight: 700;
    padding: 50px;
    color: white;
}

.call-btn{
    margin-left: 85px;
    padding: 30px;
    width: 180px;
    font-size: 25px;
    color: rgb(45, 123, 212);
}

/* extra container */

.extra-container{
    background-image: url(images/person2.webp);
    background-repeat: no-repeat;
    background-position: center;
    width: 1900px;
    height: 900px;
    margin-bottom: 250px;
}

.extra-header{
    font-size: 45px;
    font-weight: 700;
    color: rgb(86, 83, 83);
    padding: 50px;
}

.extra-article{
    font-size: 20px;
    color: rgb(86, 83, 83);
    margin-left: 950px;
}

/* future part */

.future-part{
    background-color: black;
    padding: 200px;
}

.future-container{
    display: flex;
    justify-content: space-around;
}

.future-heading{
    color: white;
    font-size: 45px;
    font-weight: 700;
    margin-bottom: 15px;
}

.future-pera{
    color: white;
    font-size: 18px;
    font-weight: 500;
    margin-bottom: 15px;
}

.future img{
    margin-right: 15px;
}

.subs-head{
    color: white;
    font-size: 30px;
    font-weight: 700;
    margin-bottom: 15px;
}

.subs-email{
    height: 70px;
    width: 300px;
    font-size: 18px;
    color: white;
    background-color: black;
    border: 1px solid white;
    border-radius: 5px;
    margin-bottom: 15px;
}

.subs-btn{
    height:50px;
    width: 120px;
    font-size: 20px;
    font-weight: 500;
    color: white;
    background-color: rgb(45, 123, 212);
    border: 1px solid white;
    border-radius: 5px;
}







